<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mx-4" href="/product/producthome">Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/product/addProduct">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product/showdata">Show Products</a>
            </li>
        </ul>
    </div>

    <a href="/"><button type="submit" class="btn btn-warning mx-3">Sign Out</button></a> 
</nav>