<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/producthome.css">
    <title>Online Shoping</title>
</head>

<body>
    <%- include('./partials/boot.ejs'); %>
    <%- include('./partials/productHeader.ejs'); %>

            <img class="img" src="/img/sale-bg" alt="error">
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card mx-5" style="width: 22rem;">
                        <img src="/img/card2" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Deal of the the</p>
                            <p class="card-text">&#x20b9; 7000 OFF</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mx-5" style="width: 22rem;">
                        <img src="/img/card1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Deal of the the</p>
                            <p class="card-text">&#x20b9; 7000 OFF</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mx-5" style="width: 22rem;">
                        <img src="/img/card3" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Deal of the the</p>
                            <p class="card-text">&#x20b9; 7000 OFF</p>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>